<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <button><a href="tweet/new">Add tweet</a></button>
    <% for( let tweet of tweets ) { %>
        <div>
            <h1><%= tweet.tweetContent %></h1>
            <form action="/delete/?_method=DELETE" method="post">
                <input type="text" name="id" value="<%= tweet.id %>" hidden="true">
                <button class="delete">Delete</button>
            </form>
            <button><a href="">Edit</a></button>
        </div>
    <% } %>
</body>
</html>