<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Tweet</title>
</head>
<body>
    <h1>Edit post</h1>
    <button><a href="/tweets">back</a></button>
    <form action="/tweet/<%= tweets._id %>" method="post">
        <label for="">Heading: </label>
        <input type="text" name="heading" id="">
        <label for="">Content: </label>
        <input type="text" name="tweetContent" id="">
        <button type="submit">update post</button>
    </form>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Post</h1>
    <button><a href="/tweets">back</a></button>
    <form action="/tweet/<%= tweets._id %>?_method=PUT" method="post">
        <label for="">Heading: </label>
        <input type="text" name="heading" id="">
        <label for="">Content: </label>
        <input type="text" name="tweetContent" id="">
        <button type="submit">update post</button>
    </form>
</body>
</html> -->