<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create post</h1>
    <button><a href="/tweets">back</a></button>
    <form action="/tweets" method="post">
        <label for="">Heading: </label>
        <input type="text" name="heading" id="">
        <label for="">Content: </label>
        <input type="text" name="tweetContent" id="">
        <button type="submit">upload post</button>
    </form>
</body>
</html>