div{
    border: 2px solid black;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    align-items: center;
    /* display: inline-block; */
    display: flex;
}

/* 
parent properties->
1. flex-direction
2. justify-content
3. align-items
4. flex-wrap
5. align-content
*/

section{
    border-radius: 50px;
    border: 2px solid red;
    display: flex;
    height: 700px;
    /* width: 1000px; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse;     */
    /* flex-direction: column;          */
    /* flex-direction: column-reverse;  */

    /* justify-content: flex-start; */
    /* justify-content: center;     */
    /* justify-content: flex-end;   */

    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */

    /* align-items: stretch;  stretch is default   */
    /* align-items: center; */
    /* align-items: flex-end;       */
    /* align-items: flex-start;     */

    /* flex-wrap: nowrap;    */
    flex-wrap: wrap;

    /* align-content: space-around;   */
    /* align-content: flex-start; */

}